header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#draw-panel {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 5px solid black;
  height: 500px;
  width: 500px;
}

.grid-item {
  border: 1px solid rgb(245, 245, 245);
}

.grid-item:hover {
  background-color: lightblue;
}

#controls {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#controls>* {
  margin: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

footer>small {
  font-size: 16px;
}